<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class List</title>
</head>
<body>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">CRN</th>
            <th scope="col">School</th>
            <th scope="col">Course</th>
            <th scope="col">Professor</th>
            <th scope="col">Day</th>
            <th scope="col">Time</th>
            <th scope="col">Location</th>
        </tr>
    </thead>
    <tbody>
        <% if(data.length){
        for(var i = 0; i < data.length; i++){ %>
        <tr>
            <th scope="row"><%= data[i]._id %></th>
            <td><%= data[i].school %></td>
            <td><%= data[i].course %></td>
            <td><%= data[i].professor %></td>
            <td><%= data[i].day %></td>
            <td><%= data[i].start %> - <%= data[i].end %></td>
            <td><%= data[i].bldg %><%= data[i].room %></td>
        </tr>
        <% }
        }else{ %>
        <tr>
            <td colspan="7">No classes found</td>
        </tr>
        <% } %>
    </tbody>
    </table>
</body>
</html>
