<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Class List</title>
</head>
<body>
    <!-- <p><a href="/reviews">Reviews</a> <a href="/submit">Submit Review</a></p> -->
    <form name="search" method="get">
        <input type="number" name="_id" placeholder="CRN">
        <input type="text" name="school" placeholder="School">
        <input type="text" name="course" placeholder="Course">
        <input type="text" name="professor" placeholder="Professor">
        <input type="text" name="day" placeholder="Day">
        <input type="number" name="start" placeholder="Start Time">
        <input type="number" name="end" placeholder="End Time">
        <button type="submit" style="padding: 8px 80px;">SEARCH</button>
    </form>
    <table class="table">
    <thead>
        <tr>
            <th width="10%">CRN</th>
            <th width="5%">School</th>
            <th width="40%">Course</th>
            <th width="20%">Professor</th>
            <th width="5%">Day</th>
            <th width="10%">Time</th>
            <th width="10%">Location</th>
        </tr>
    </thead>
    <tbody>
        <% if(data.length){
        for(var i = 0; i < data.length; i++){ %>
        <tr>
            <td width="10%"><b><%= data[i]._id %></td>
            <td width="5%"><%= data[i].school %></td>
            <td width="40%"><%= data[i].course %></td>
            <td width="20%"><a href="/reviews/<%= data[i].professor %>"><%= data[i].professor %></a></td>
            <td width="5%"><%= data[i].day %></td>
            <td width="10%"><%= data[i].start %> - <%= data[i].end %></td>
            <td width="10%"><%= data[i].bldg %><%= data[i].room %></td>
        </tr>
        <% }
        }else{ %>
        <tr>
            <td colspan="7">No classes found</td>
        </tr>
        <% } %>
    </tbody>
    </table>
</body>
</html>